.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat-messages {
  height: 65vh;
  overflow: scroll;
  border: 1px rgb(0, 128, 128) solid;
  padding: 20px;
  width: 80%;
}

.message-input-form-container {
  height: 10vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.chat-header {
  color: rgb(0, 128, 128);
}
