.message-container {
  position: relative;
  margin-bottom: 10px;
}

.message {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.hover-options {
  position: absolute;
  top: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid rgb(0, 128, 128);
  border-radius: 5px;
  background-color: rgb(35, 32, 32);
  z-index: 1000;
}

.hover {
  /* background-color: gray; */
}

.like-count {
  border: 1px solid rgb(0, 128, 128);
  padding: 3px;
  border-radius: 50px;
  width: 18px;
}
